@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #545b63;
  font-weight: 400;
  font-size: small;
}

.active-sort {
  color: white;
  background-color: #cc1100;
  font-weight: 400;
  font-size: large;
  padding: 0 8px;
}

a:hover {
  color: #cc1100;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  /* padding-right: 1rem;  */
  /* Adjust the padding to control the arrow position */
}

.custom-select option {
  background-color: black;
}

header,
nav {
  z-index: 10001 !important;
}

.categorybtn button {
  color: black;
  opacity: 0.5;
}

[x-cloak] {
  display: none;
}
